.header{
    display: flex;
    height: 132px;
    margin-top: 30px;
    border-bottom: 2px solid black;
    margin-bottom: 35px;

  
  }
  
  .header .logo{
    flex-grow: 2;
    display: flex;
  }
  
 
  
  .cabecera-menuBoton{
    border: none;
    display: none;
    background-color:transparent;
    cursor: pointer;
  }

  .cabecera-svg{
    width: 3em;
    height: 3em;
  }

  

  
  
  .cabecera-ul{
    display: flex;
    justify-content:flex-end;
    align-items:baseline;
    list-style: none;
  }
  
  .header li{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
    margin-left: 15px;
    margin-right: 15px;
  }
  
  .header li a{
    color: black;
    text-decoration: none;
    transition:  all 300ms;
  
  }
  
  .header .active,
  .header a:hover{
    color: rgb(165, 42, 101);
  
  }
  

  
  @media (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: column; /* Cambia la dirección a columna en móviles */
      align-items: center; /* Centra los elementos horizontalmente */
      height: auto; /* Altura automática para acomodar el menú expandido */
      margin-top: 30px;
      border-bottom: 2px solid black;
      margin-bottom: 35px;
    }

    
    .logo img{
      width: 100px;
    }
    
    .cabecera-menuBoton{
      display: flex;
    }

    .cabecera-nav{
      display: none;
    }

    .cabecera-nav.isActive{
      display: flex;
    }

  
   .header li{
    font-size: 14px;
   }
    
  }