
.home h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400px;
    font-size: 40px;
    margin-bottom: 0px;
  }
  
  .home strong{
    color: #22a1bb
  }
  
  .home h2{
    color: grey;
    font-weight: lighter;
  }
  
  .home a{
    padding: 7px;
    margin-left: 15px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: #288cd8;
    text-decoration: none;
    transition: all 300ms;
  }
  
  .lasts-works{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .home .heading{
    font-size: 40px;
    font-weight: 500px;
    font-style: italic;
    color: black;
  }
  
  .heading{
    font-size: 55px;
    font-weight: bold;
    font-style: italic;
    color: #444;
  }
  
  .page .heading{
    text-align: center;
  }
  
  .page p{
    color: #444;
    margin-bottom: 50px;
    font-weight: lighter;
    font-size: large;
    margin-left: 50px;
    margin-right: 50px;
  }

  .home p{
    color: #444;
    font-weight: lighter;
    font-size: large;
  }

  .contactButton:hover{
  background-color: rgb(165, 42, 101);
}
