.home {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f0f0f0;
  }
  
  .header {
    margin-bottom: 40px;
    text-align: center;
  }
  
  .title {
    font-size: 36px;
    margin: 0 0 10px 0;
  }
  
  .highlight {
    font-weight: bold;
    color: #2c3e50;
  }
  
  .subtitle {
    font-size: 24px;
    margin: 0 0 20px 0;
    text-align: center;
  }
  
  .link {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
    position: relative;
  }
  
  .link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #3498db;
    transition: width .3s ease;
  }
  
  .link:hover::after {
    width: 100%;
    left: 0;
  }
  
  .lasts-works {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .heading {
    font-size: 30px;
    margin: 0 0 10px 0;
  }
  
  .description {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
  
  .works {
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* Añadir más estilos según sea necesario */
  }
  