

.works {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Añade un espacio entre los elementos, es más moderno y limpio que usar margin */
    justify-content: center; /* Centra los elementos si hay espacio extra */
  }
  
  .work-item {
    flex-basis: 30%;
    padding: 20px;
    transition: transform 0.3s ease-in-out; /* Añade una transición suave al aplicar transformaciones */
    border: 1px solid #ccc; /* Añade un borde ligero */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil */
    border-radius: 8px; /* Bordes redondeados */
    overflow: hidden; /* Esconde cualquier contenido que se salga del borde redondeado */
  }
  
  .work-item:hover {
    transform: translateY(-10px); /* Mueve el artículo hacia arriba cuando se pasa el ratón */
  }
  
  .work-item .mask {
    width: 100%;
    overflow: hidden; /* Esconde cualquier imagen que se salga del contenedor */
    transition: transform 0.3s ease-in-out; /* Añade una transición suave al aplicar transformaciones */
  }
  
  .work-item .mask img {
    width: 100%;
    transition: transform 0.3s ease-in-out; /* Añade una transición suave al aplicar transformaciones */
  }
  
  .work-item .mask:hover img {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen cuando se pasa el ratón */
  }
  
  .work-item span,
  .work-item h3 {
    color: grey;
    font-size: 10px;
  }
  
  .work-item h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .work-item a {
    color: rgb(40, 100, 116);
    text-decoration: none;
    transition: color 0.3s ease-in-out; /* Añade una transición suave al cambiar el color */
  }
  
  .work-item a:hover {
    color: rgb(165, 42, 101);
    text-transform: scale(2.4)
  }
  
  
  .work-item h3{
    display: block;
    margin-top: 0px;
    color: gray;
    border-top: 1px solid #ddd;
    padding-top: 15px;
  
  }
  
  .work-item h4{
    color: #444;
    font-weight:500;
  }
  
  
  .lasts-works p a {
    display: inline-block;
    margin-top: 10px; /* Ajusta el valor según tus necesidades */
  }
  
  @media (max-width: 768px) { /* Para tablets */
    .work-item {
      flex-basis: 100%; /* Ocupa el 100% del ancho */
    }
  }
  
  @media (max-width: 480px) { /* Para móviles */
    .work-item {
      flex-basis: 100%; /* Ocupa el 100% del ancho */
    }
  }